/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.anchorPane{
    -fx-background-color: #282828;
   
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}
.small-anchorPane{

}
.imagePane-AnchorPane{
    -fx-background-color:  linear-gradient(lightgray, gray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}